.minecraft/versions/1.12.2/*
.minecraft/assets/
.minecraft/libraries/
.minecraft/launcher_profiles.json
HMCL-*.exe
hmcl.json

!.gitignore
!.minecraft/config/
!.minecraft/mods/
!.minecraft/resources/
!.minecraft/scripts/