
.minecraft/assets/
.minecraft/libraries/
.minecraft/launcher_profiles.json
.minecraft/saves/
.minecraft/logs/
.minecraft/crash-reports/
HMCL-*.exe
hmcl.json

!.gitignore
!.minecraft/config/
!.minecraft/mods/
!.minecraft/resources/
!.minecraft/scripts/